@import '@/styles/variable.scss';

     .signinForm {
       width: 455px;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       padding: 2rem 3rem;
       overflow: hidden;
       grid-column: 1 / 2;
       grid-row: 1 / 2;
       transition: 0.2s 0.7s ease-in-out;
       z-index: 2;
       background: #ffffff89;
       border: 2px solid rgba(255, 255, 255, 0.5);
       border-radius: 20px;
       box-shadow: 4px 4px 10px -1px #1D4486;

       .signinLogo {
         margin-bottom: 15px;
         width: 180px;
       }

       .titleSignIn {
         position: relative;
         margin-bottom: 30px;
         height: 40px;
         width: 100%;
         display: flex;
         justify-content: center;

         h2 {
           position: absolute;
           font-size: 3em;
           margin-bottom: unset;
           font-weight: bold;
           text-transform: uppercase;

           &:nth-child(1) {
             color: transparent;
             -webkit-text-stroke: 2px #1D4486;
           }

           &:nth-child(2) {
             color: #1D4486;
             animation: animateText 4s ease-in-out infinite;
           }
         }
       }

       .loginOptions {
         display: flex;
         align-items: center;
         justify-content: end;
         width: 100%;

         .forgotFieldLink {
           text-decoration: none;
           color: rgba(247, 73, 73, 0.909);
           font-size: 17px;
           font-weight: 600;
         }
       }

       .btnLogin {
         width: 150px;
         height: 49px;
         border: none;
         outline: none;
         border-radius: 50px;
         cursor: pointer;
         background-color: #1D4486;
         color: #fff;
         text-transform: uppercase;
         font-weight: 600;
         margin-top: 30px;
         transition: .5s;
         z-index: 1;
         overflow: hidden;

         &:hover {
           opacity: 0.9;
         }

       }
     }


@keyframes animateText {

  0%,
  100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

